body {
    background-color: #EAC9C1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    max-width: fit-content;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: grid;
}

.generate {
    background-color: white;
    border-radius: 5px;
}
.generate:hover{
    background-color: palevioletred;
    font-weight: bold;
    border: gray 5px;
}
